mixin pagination (array, key)
	div(class!=attributes.class)
		+pagination__sort (array, key)(class!=attributes.class)

mixin pagination__sort (array, key)
		each item, key in array
			+pagination__check-for-object (item, key)(class!=attributes.class)

mixin pagination__check-for-object (item, key)
	if item == "[object Object]"
		a(href="#" class!=attributes.class + "__item")
			+pagination__sort (item, key)(class!=attributes.class + "__sub")
	else
		+pagination__check-for-nav (item, key)(class!=attributes.class)

mixin pagination__check-for-nav (item, key)
	case key 
		when "first"
			a(href="#" class!=attributes.class + "__item " + attributes.class + "__first")
				|#{item}
		when "last"
			a(href="#" class!=attributes.class + "__item " + attributes.class + "__last")
				|#{item}
		when "prev"
			a(href="#" class!=attributes.class + "__item " + attributes.class + "__prev")
				|#{item}
		when "next"
			a(href="#" class!=attributes.class + "__item " + attributes.class + "__next")
				|#{item}
		when "span"
			span(class!=attributes.class + "__item")
				|#{item}
		when "img"
			img(src="#{item}" alt="" class!=attributes.class + "__img")
		default
			a(href="#" class!=attributes.class + "__item ")
				|#{item}